@charset "UTF-8";
/* Homepage Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
main {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/projects/parkers/parkers-homepage-hero.jpg); }
