/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
	padding: 10px 15px;
	font-size: .8em;
	font-weight: 500;
	letter-spacing: .3em;
	text-transform: uppercase;
	background-color: rgba(225, 225, 225, .2);
}

.hero-button {
	margin-top: 8px;
}