/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

main {
	
	@media (min-width: 600px){
		padding: 0;
	}
}

.homepage-main {
	position: relative;
	padding-top: 100px;
	width: 100vw;
	height: 100vh;
	color: white;
	background-image: url(../assets/projects/parkers/parkers-homepage-hero.jpg);
	background-size: cover;
	background-position: bottom center;
	
	h1 {
		font-size: 2.5rem;
		
		
		@media (min-width: 600px) {
			font-size: 3rem;
		}
	}
	
	@media (min-width: 600px) {
		padding-top: 120px;
	}
}

.project-description {
	width: 100%;
    padding: 30px;
    background-color: rgba(35, 31, 32, 0.7);
    position: fixed;
	top: 90px;
	opacity: 0;
	
	@media (min-width: 600px) {
		padding: 30px 10%;
		
		h1 {
			font-weight: 100;
		}
	}
	
	@media (min-width: 900px) {
   	 	background-color: rgba(35, 31, 32, 0.7);
		top: auto;
		bottom: 0;
	}
	
	@media (min-width: 1300px) {
		margin: 0 auto;
	    background-color: transparent;
	    bottom: 100px;
	    width: 70%;
	    margin-top: 75vh;
	    position: inherit;
	    padding: 0;
	}
}

.landAppearHome{
	animation-name: landAppear;
	animation-duration: .5s;	
	animation-delay: 2.5s;	
	animation-timing-function: linear;			
	animation-fill-mode: forwards;
	visibility: visible !important;	
}

@keyframes landAppear {
	0% {
		opacity: 0;
	}	
			
	100% {
		opacity: 1;
	}	
}

.landAppearHomeSub {
	animation-name: landAppear;
	animation-duration: .5s;	
	animation-delay: .5s;	
	animation-timing-function: ease-in-out;			
	animation-fill-mode: forwards;
	visibility: visible !important;
}