/* Layout Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.inner-wrapper {
	width: 85%;
	margin: 0 auto;
	
	@media (min-width: 600px) {
		width: 80%;
	}
	
	@media (min-width: 1300px) {
		width: 70%;
	}
	
	
}

.project-inner-wrapper {
	@media (min-width: 1100px) {
		max-width: 400px;
	}
}

.work-inner-wrapper {
	padding: 30px 40px 0px 40px;
	
	@media (min-width: 600px) {
		padding: 30px 30px 0px 30px;
	}
	
	@media (min-width: 1100px) {
		max-width: 450px;
		margin: 0 auto;
	}
	
	@media (min-width: 1200px) {
		max-width: 490px;
	}
}