@charset "UTF-8";
/* Base Styles: typography, links, body
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px  */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.8;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #fff; }

 /* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 300; }

h1 {
  margin-bottom: 10px;
  font-size: 3.0rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: .07em; }
  @media (min-width: 600px) {
    h1 {
      font-weight: 100; } }

h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: .3em;
  text-transform: uppercase; }
  @media (min-width: 600px) {
    h2 {
      font-weight: 300; } }

h3 {
  font-size: 1.6rem;
  line-height: 1.7em;
  letter-spacing: .05em;
  font-weight: 400;
  margin-bottom: 50px; }
  @media (min-width: 600px) {
    h3 {
      font-weight: 400; } }

h4 {
  font-size: 1.3rem;
  line-height: 1.35;
  letter-spacing: 0; }

h5 {
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: .1em; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

p {
  margin-top: 10px;
  letter-spacing: .05em;
  line-height: 1.9;
  font-weight: 400; }
  @media (min-width: 600px) {
    p {
      font-weight: 300;
      letter-spacing: .08em; } }

 /* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #fff;
  text-decoration: none; }

.uppercase {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .9em; }

/* Layout Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.inner-wrapper {
  width: 85%;
  margin: 0 auto; }
  @media (min-width: 600px) {
    .inner-wrapper {
      width: 80%; } }
  @media (min-width: 1300px) {
    .inner-wrapper {
      max-width: 1100px; } }

@media (min-width: 1100px) {
  .project-inner-wrapper {
    max-width: 400px; } }

@media (min-width: 1100px) {
  .work-inner-wrapper {
    max-width: 450px; } }

/* Header Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 25px 0;
  width: 100%;
  height: 90px;
  background-color: rgba(35, 31, 32, 0.7); }
  header h1 {
    float: left; }

.tagline {
  display: none; }
  @media (min-width: 750px) {
    .tagline {
      display: inline-block;
      margin: 10px 0 0 50px; } }
  @media (min-width: 1200px) {
    .tagline {
      margin-left: 200px; } }

nav {
  float: right; }
  nav ul {
    list-style: none;
    margin: 7px 0 0 0; }
  nav li {
    display: inline-block;
    margin-left: 10px; }

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 600px) {
  main {
    padding: 0; } }

.homepage-main {
  padding: 30px;
  position: relative;
  padding-top: 120px;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-image: url(../assets/projects/parkers/parkers-homepage-hero.jpg);
  background-size: cover;
  background-position: bottom center; }

@media (min-width: 600px) {
  .project-description {
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh; } }
@media (min-width: 900px) {
  .project-description {
    margin-top: 14vh; } }
@media (min-width: 1300px) {
  .project-description {
    max-width: 1100px;
    margin-top: 65vh; } }

/* States
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.isHidden {
  display: none; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.button {
  padding: 10px 15px;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: .3em;
  text-transform: uppercase;
  background-color: rgba(225, 225, 225, 0.2); }
  @media (min-width: 600px) {
    .button {
      font-weight: 300; } }

.hero-button {
  margin-top: 8px; }

.work-menu-button {
  background-color: rgba(225, 225, 225, 0.4); }

/* Work Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.work-menu {
  top: 0;
  position: absolute;
  padding: 90px 0 30px 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: #231f20; }
  @media (min-width: 600px) {
    .work-menu {
      right: 0;
      padding: 90px 20px 0 20px;
      width: 50%; } }
  @media (min-width: 1100px) {
    .work-menu {
      width: 40%; } }
  @media (min-width: 1400px) {
    .work-menu {
      width: 35%;
      padding: 140px 80px 30px 80px; } }

.project-item {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px; }

.project-thumbnail {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 55px;
  height: 55px;
  float: right; }
  @media (min-width: 600px) {
    .project-thumbnail {
      margin-top: 0px;
      float: left; } }

.work-project-description {
  width: 75%;
  float: right;
  padding-bottom: 10px; }
  .work-project-description h1 {
    font-size: 1.8em; }
  @media (min-width: 600px) {
    .work-project-description {
      float: right; } }

.tags {
  color: rgba(255, 255, 255, 0.5); }

.project-main h1 {
  letter-spacing: .02em; }
.project-main h3 {
  color: #800122; }
  @media (min-width: 1100px) {
    .project-main h3 {
      color: #fff; } }

.project-hero {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center bottom; }
  @media (min-width: 1100px) {
    .project-hero {
      width: 60%;
      height: 100vh;
      float: left; } }
  @media (min-width: 1400px) {
    .project-hero {
      width: 70%; } }

.project-meta {
  padding: 20px;
  color: #58595b; }
  @media (min-width: 600px) {
    .project-meta {
      width: 85%;
      margin: 0 auto; } }
  @media (min-width: 1100px) {
    .project-meta {
      top: 90px;
      position: fixed;
      right: 0;
      bottom: 0;
      padding: 140px 50px 50px 50px;
      margin-top: -90px;
      width: 40%;
      height: 100vh;
      overflow: scroll;
      color: rgba(255, 255, 255, 0.8);
      background-color: #231f20; } }
  @media (min-width: 1400px) {
    .project-meta {
      padding: 140px 80px 80px 80px;
      width: 35%; } }

.project-details {
  margin: 0px; }

.category {
  color: #800122;
  font-weight: 500; }
  @media (min-width: 1100px) {
    .category {
      color: #fff;
      font-weight: 400; } }

.gallery-image {
  width: 100%; }
  @media (min-width: 1100px) {
    .gallery-image {
      float: left;
      width: 60%; } }
  @media (min-width: 1400px) {
    .gallery-image {
      width: 65%; } }

.parkers-project-hero {
  background-image: url(../assets/projects/parkers/parkers-homepage-hero.jpg); }

.asu_now-project-hero {
  background-image: url(../assets/projects/asu_now/asu_now-website-01.jpg); }

.currency-project-hero {
  background-image: url(../assets/projects/currency/currency-hero.jpg);
  background-position: left bottom; }

.biomimicry-project-hero {
  background-image: url(../assets/projects/biomimicry/biomimicry-01.jpg);
  background-position: left bottom; }

.catapult-project-hero {
  background-image: url(../assets/projects/catapult/catapult-hero.jpg); }

/*# sourceMappingURL=main.css.map */
