/* States
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.isHidden{
	display: none;
}

.infront {
	z-index: 1;
}

.behind {
	z-index: -1;
}

.mobileHidden {
	display: none;
	
	@media (min-width: 600px) {
		display: block;
	}
}

.block {
	display: block;
}